<a href="https://colab.research.google.com/github/somesh-ghaturle/Python_All_Hands_On/blob/main/Basics_Codes_Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Exercise 1: Calculate the multiplication and sum of two numbers

In [ ]:
num1 = int(input())
num2 = int(input())
product = num1 * num2
if (product) <= 1000:
  print(product)
else:
  print(num1 + num2)

20
30
600

#Exercise 2: Print the sum of the current number and the previous number

In [ ]:
num = int(input())
print('Printing current and previous number sum in a range(10)')

for i in range(num):
  if i == 0:
    print(f'Current Number {i} Previous Number {i} Sum : {i}')
  else:
    print(f'Current Number {i} Previous Number {i-1} Sum : {i+i-1}')

10
Printing current and previous number sum in a range(10)
Current Number 0 Previous Number 0 Sum : 0
Current Number 1 Previous Number 0 Sum : 1
Current Number 2 Previous Number 1 Sum : 3
Current Number 3 Previous Number 2 Sum : 5
Current Number 4 Previous Number 3 Sum : 7
Current Number 5 Previous Number 4 Sum : 9
Current Number 6 Previous Number 5 Sum : 11
Current Number 7 Previous Number 6 Sum : 13
Current Number 8 Previous Number 7 Sum : 15
Current Number 9 Previous Number 8 Sum : 17

#Exercise 3: Print characters from a string that are present at an even index number

For example, str = "pynative" so you should display ‘p’, ‘n’, ‘t’, ‘v’.

In [ ]:
str = "pynative"
print(str[::2], end = ' ')

pntv

#Exercise 4: Remove first n characters from a string

Write a program to remove characters from a string starting from zero up to n and return a new string.

For example:

 

1.   remove_chars("pynative", 4) so output must be tive. Here we need to remove first four characters from a string.
2.   remove_chars("pynative", 2) so output must be native. Here we need to remove first two characters from a string.

In [ ]:
def remove_chars(string,n):
  x = string[n:]
  return x

string = input()
print(remove_chars(string,2))

pynative
native

#Exercise 5: Check if the first and last number of a list is the same
Write a function to return True if the first and last number of a given list is same. If numbers are different then return False.

In [ ]:
def first_last(fi,li):
  if fi == li :
    return True
  return False

number1  = [10,20,30,40,10]
number2 = [20,60,50,40,40,50]

print(first_last(number1[0],number1[-1]))
print(first_last(number2[0],number2[-1]))

True
False

#Exercise 6: Display numbers divisible by 5 from a list
Iterate the given list of numbers and print only those numbers which are divisible by 5

In [ ]:
data = [10,20,55,34,67,89,101]
print('Divisible by 5:')
for i in data:
  if i % 5 == 0:
    print(i)

Divisible by 5:
10
20
55

#Exercise 7: Return the count of a given substring from a string
Write a program to find how many times substring “Emma” appears in the given string.

In [ ]:
str_x = "Emma is good developer. Emma is a writer"
cnt = str_x.count("Emma")
print(cnt)

2

#Exercise 8: Print the following pattern
1 
2 2 
3 3 3 
4 4 4 4 
5 5 5 5 5

In [ ]:
for num in range(6):
    for i in range(num):
        print (num, end=" ") #print number
    # new line after each row to display pattern correctly
    print("\n")

1

2 2

3 3 3

4 4 4 4

5 5 5 5 5

#Exercise 9: Check Palindrome Number
Write a program to check if the given number is a palindrome number.

A palindrome number is a number that is same after reverse. For example 545, is the palindrome numbers

In [ ]:
number = '121'

print('Palindrome'if number == number[::-1] else False)

Palindrome

#Exercise 10: Create a new list from a two list using the following condition

Create a new list from a two list using the following condition

Given a two list of numbers, write a program to create a new list such that the new list should contain odd numbers from the first list and even numbers from the second list.

In [ ]:
list1 = [10, 20, 25, 30, 35]
list2 = [40, 45, 60, 75, 90]
result = []

#for Odd List 
for i in list1:
  if i % 2 != 0:
    result.append(i)

#for Even List
for i in list2:
  if i % 2 == 0:
    result.append(i)

print(result)

[25, 35, 40, 60, 90]

#Exercise 11: Write a Program to extract each digit from an integer in the reverse order.
For example, If the given int is 7536, the output shall be “6 3 5 7“, with a space separating the digits.

In [ ]:
number = 7536

while number>0:
  digit = number % 10
  number =number // 10
  print(digit,end = ' ')

6 3 5 7

#Exercise 12: Calculate income tax for the given income by adhering to the below rules

Taxable Income	Rate (in %) 
First $10,000	0  
Next $10,000	10 
The remaining	20

In [ ]:
income = 45000
tax_payable = 0
print("Given income", income)

if income <= 10000:
    tax_payable = 0
elif income <= 20000:
    # no tax on first 10,000
    x = income - 10000
    # 10% tax
    tax_payable = x * 10 / 100
else:
    # first 10,000
    tax_payable = 0

    # next 10,000 10% tax
    tax_payable = 10000 * 10 / 100

    # remaining 20%tax
    tax_payable += (income - 20000) * 20 / 100

print("Total tax to pay is", tax_payable)

Given income 45000
Total tax to pay is 6000.0

#Exercise 13: Print multiplication table form 1 to 10

In [ ]:
for i in range(1, 11):
    for j in range(1, 11):
        print(i * j, end="  ")
    print("\t\t")

1  2  3  4  5  6  7  8  9  10
2  4  6  8  10  12  14  16  18  20
3  6  9  12  15  18  21  24  27  30
4  8  12  16  20  24  28  32  36  40
5  10  15  20  25  30  35  40  45  50
6  12  18  24  30  36  42  48  54  60
7  14  21  28  35  42  49  56  63  70
8  16  24  32  40  48  56  64  72  80
9  18  27  36  45  54  63  72  81  90
10  20  30  40  50  60  70  80  90  100

#Exercise 14: Print downward Half-Pyramid Pattern with Star (asterisk)

* * * * *  
* * * *  
* * *  
* *  
*

In [ ]:
for i in range(6, 0, -1):
    for j in range(0, i - 1):
        print("*", end=' ')
    print(" ")

* * * * *
* * * *
* * *
* *
*

#Exercise 15: Write a function called exponent(base, exp) that returns an int value of base raises to the power of exp

In [ ]:
def exponent(base, exp):
    num = exp
    result = 1
    while num > 0:
        result = result * base
        num = num - 1
    print(base, "raises to the power of", exp, "is: ", result)

exponent(5, 4)

5 raises to the power of 4 is:  625