<a href="https://colab.research.google.com/github/somesh-ghaturle/Python_All_Hands_On/blob/main/Functions_Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Exercise 1: Create a function in Python
Write a program to create a function that takes two arguments, name and age, and print their value.

In [ ]:
def func(name,age):
  print(f"Name:{name} Age:{age}")

func('Somesh',25)

Name:Somesh Age:25

#Exercise 2: Create a function with variable length of arguments
Write a program to create function func1() to accept a variable length of arguments and print their value.

Note: Create a function in such a way that we can pass any number of arguments to this function and the function should process them and display each argument’s value.

In [ ]:
def func1(*args):
  for i in args:
    print(i, end = ' ')

func1(20, 40, 60)
# func1(80, 100)

20 40 60

#Exercise 3: Return multiple values from a function
Write a program to create function calculation() such that it can accept two variables and calculate addition and subtraction. Also, it must return both addition and subtraction in a single return call.

In [ ]:
def calculation(a,b):
  return a+b , a-b

res = calculation(40,10)
print(res)

(50, 30)

#Exercise 4: Create a function with default argument
Write a program to create a function show_employee() using the following conditions.

It should accept the employee’s name and salary and display both.
If the salary is missing in the function call then assign default value 9000 to salary

In [ ]:
def show_employee(name,salary = 12000):
  print(f'Name: {name} Salary: {salary}')

show_employee('somesh')
show_employee('somesh1',20000)

Name: somesh Salary: 12000
Name: somesh Salary: 20000

#Exercise 5: Create an inner function to calculate the addition in the following way
Create an outer function that will accept two parameters, a and b
Create an inner function inside an outer function that will calculate the addition of a and b
At last, an outer function will add 5 into addition and return it

In [ ]:
def outer(a,b):
  def inner(c,d):
    return c + d
  sum = inner(a,b)
  return sum + 5 

outer(2,3)

10

#Exercise 6: Create a recursive function
Write a program to create a recursive function to calculate the sum of numbers from 0 to 10.

A recursive function is a function that calls itself, again and again

In [ ]:
def recursive(a):
  if a:
    return a + recursive(a-1)
  else:
    return 0 

result = recursive(10)
print(result)

55

#Exercise 7: Assign a different name to function and call it through the new name
Below is the function display_student(name, age). Assign a new name show_tudent(name, age) to it and call it using the new name.

In [ ]:
def display_student(name,age):
  print(f'Name:{name} Age:{age}')

show_student = display_student
show_student('Somesh',24)

Name:Somesh Age:24

#Exercise 8: Generate a Python list of all the even numbers between 4 to 30

In [ ]:
def name(low,high):
  listt=[]
  for i in range(low,high,2):
    listt.append(i)
  return listt

name(4,30)

#or
print(list(range(4,30,2)))

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

#Exercise 9: Find the largest item from a given list
x = [4, 6, 8, 24, 12, 2]

In [ ]:
x = [4, 6, 8, 24, 12, 2]
# print(max(x))

# or
num =x[0]
for i in x:
  if i > num:
    num=i
print(num)

24