<a href="https://colab.research.google.com/github/somesh-ghaturle/Python_All_Hands_On/blob/main/Input_Output_Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Exercise 1: Accept numbers from a user
Write a program to accept two numbers from the user and calculate multiplication

In [ ]:
input1 = int(input())
input2 = int(input())

print(input1 * input2)

2
3
6

#Exercise 2: Display three string “Name”, “Is”, “James” as “Name**Is**James”
Use the print() function to format the given words in the mentioned format. Display the ** separator between each string.

In [ ]:
print('Name', 'Is', 'James',sep ='**')

Name**Is**James

#Exercise 3: Convert Decimal number to octal using print() output formatting

The octal number of decimal number 8 is 10

In [ ]:
num = 8

print('%o'%num)

10

#Exercise 4: Display float number with 2 decimal places using print()

In [ ]:
num = 458.541315
print(round(num,2))

458.54
458.54

#Exercise 5: Accept a list of 5 float numbers as an input from the user

In [ ]:
numbers = []

# 5 is the list size
# run loop 5 times
for i in range(0, 5):
    print("Enter number at location", i, ":")
    # accept float number from user
    item = float(input())
    # add it to the list
    numbers.append(item)

print("User List:", numbers)

Enter number at location 0 :
1
Enter number at location 1 :
2
Enter number at location 2 :
3
Enter number at location 3 :
4
Enter number at location 4 :
5
User List: [1.0, 2.0, 3.0, 4.0, 5.0]

#Exercise 6: Write all content of a given file into a new file by skipping line number 5

In [ ]:
# read test.txt
with open("/content/Text.txt", "r") as fp:
    # read all lines from a file
    lines = fp.readlines()

# open new file in write mode
with open("/content/new_file.txt", "w") as fp:
    count = 0
    # iterate each lines from a test.txt
    for line in lines:
        # skip 5th lines
        if count == 4:
            count += 1
            continue
        else:
            # write current line
            fp.write(line)
        # in each iteration reduce the count
        count += 1

In [ ]:
#Testign newly created txt file 
import pandas as pd
df = pd.read_csv('/content/new_file.txt', delimiter = "\t")
display(df)

   line1
0  line2
1  line3
2  line4
3  line6
4  line7

#Exercise 7: Accept any three string from one input() call
Write a program to take three names as input from a user in the single input() function call.

In [ ]:
str1, str2, str3 = input("Enter three string").split()
print('Name1:', str1)
print('Name2:', str2)
print('Name3:', str3)

Enter three stringabc def hij
Name1: abc
Name2: def
Name3: hij

#Exercise 8: Format variables using a string.format() method.
Write a program to use string.format() method to format the following three variables as per the expected output

In [ ]:
quantity = 3
totalMoney = 1000
price = 450
statement1 = "I have {1} dollars so I can buy {0} football for {2:.2f} dollars."
print(statement1.format(quantity, totalMoney, price))

I have 1000 dollars so I can buy 3 football for 450.00 dollars.

#Exercise 9: Check file is empty or not
Write a program to check if the given file is empty or not

In [ ]:
import os
size = os.stat("/content/Text.txt").st_size
if size == 0:
    print('file is empty')
else: 
  print('Not Empty')

Not Empty

#Exercise 10: Read line number 4 from the following file

In [ ]:
with open("/content/Text.txt", "r") as fp:
    # read all lines from a file
    lines = fp.readlines()

    print(lines[3])

line4